@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next, .swiper-button-prev{
  color:rgb(23, 3, 3) !important;
  background-color: rgb(249, 243, 243) !important;
  padding: 1.5rem !important;
  border-radius: 50% !important;
}
.swiper-pagination-bullet{
  background-color: rgb(245, 236, 239) !important;
}
.swiper-pagination-bullet-active{
  background-color: white !important;
}